.direction-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f5f9;
}

.direction-bar a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-style: italic;
}

.direction-bar a svg {
    margin-top: 3.2px;
}

.direction-bar a:nth-child(2) {
    border: 1px solid #000;
    padding: 8px 12px 12px;
}
